@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50%{
        transform: translateY(-30px);
    }


}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #6366F1;
    --secundaria: #8B5CF6;
    --destaque: #22D3EE;
    --escuro: #080B14;
    --maisEscuro: #05070D;
    --claro: #F8FAFC;
    --textoSecundario: #CBD5E1;
    --vidro: rgba(255, 255, 255, 0.08);
    --borda: rgba(148, 163, 184, 0.18);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed; /* mantem fixo na pag*/
    top: 0;
    background: rgba(7, 7, 7, 0.9);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu  {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menuLink {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menuLink::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--secundaria);
    transition: width 0.5s ease;
}

.menuLink:hover::after{
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fotoPerfil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid rgba(99, 102, 241, 0.5);
    box-shadow:
        0 0 30px rgba(99, 102, 241, 0.25),
        0 0 60px rgba(139, 92, 246, 0.12);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 15px;

    background: linear-gradient(
        90deg,
        var(--primaria),
        var(--secundaria),
        var(--destaque)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalhoSubTitulo{
    font-size: 1.2rem;
    color: var(--claro);
}

.sobre{
    padding: 6rem 2rem;
}

.sobreTitulo{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.sobreCaixa{
    padding: 2rem;
    max-width: 1500px;
    margin: 0 auto; /*centralizar*/
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10x);
    background: rgba(255, 255, 255, 0.05);
}

.sobreParagrafo{
    text-align: left;
    font-size: 20px;
}

.projetos {
    padding: 6rem 2rem;
}

.projetosImagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetosTitulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 70px;
}

.projetosCard:hover{
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-5px) scale(1.1);
}

.projetosCaixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetosCard{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: solid var(--vidro);
    overflow: hidden; /* esconde a sobra do border radius*/
    transition: all 0.1s ease;
    cursor: pointer;
}

.paragrafoProjetos{
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.caixaTextoProjeto {
    padding: 1.5rem;
    
}

.infoProjetos{
    margin-bottom: 4px;
}

.contatos{
    text-align: center;
    font-size: 20px;
}

.contatosTitulo{
    margin-bottom: 40px;
}

.formularioContato{
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.grupoForm{
    margin-bottom: 1.5rem;
}

.campoForm:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.campoForm{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}


.botaoForm{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;

}

.botaoForm:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    inset: 0;
    z-index: -1;

    background:
        radial-gradient(circle at 10% 20%, #6366F1 2px, transparent 2px),
        radial-gradient(circle at 25% 70%, #8B5CF6 2px, transparent 2px),
        radial-gradient(circle at 40% 30%, #22D3EE 2px, transparent 2px),
        radial-gradient(circle at 55% 80%, #6366F1 2px, transparent 2px),
        radial-gradient(circle at 70% 40%, #8B5CF6 2px, transparent 2px),
        radial-gradient(circle at 85% 15%, #22D3EE 2px, transparent 2px),
        radial-gradient(circle at 90% 75%, #6366F1 2px, transparent 2px),
        #05070D;
}